@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");

$color: (
  dark: #000,
  light: #fff,
  rose: #7d3536,
  sunflower: #847e30,
  tulip: #dc4b4b,
  dandelion: #347353,
  cherry: #df597a,
  violet: #5a4072,
  freesia: #cd5d27,
  lily: #a50f12,
);

$font: (
  cormorant: "Cormorant",
);
